<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink- to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <style>
    .swiper-slide card {
    max-width:100%;
    overflow: hidden;
    }
    .swiper-button-next {
    background: url('/img/right-arrow.png') no-repeat;
    background-size: 100% auto;
    background-position: right center;
    }

    .swiper-button-prev {
    background: url('/img/left-arrow.png') no-repeat;
    background-size: 100% auto;
    background-position: left center;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
    display: none;
    }

    .swiper-container {
    height:320px;
    width: 90%;
    }

    .swiper-slide img {
    box-shadow:0 0 5px #555;
    max-width:100%;
    height: 219px;
    object-fit: cover;
    }
    .profile-user-img{
        width:50px;
        height: 50px;
        border-radius: 70%;
        overflow: hidden;
    }

    .profile-user-img-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    </style>
</head>
<body>
<div class="container-fluid" style="height: 120px;">

    <span style="display:inline-block; margin-top:3px; background: url('/img/hiponacho.png') no-repeat; height: 85px; width: 85px;
                background-size: contain; position: relative; left: 30px; top: 15px; cursor: pointer"
          th:onclick="|location.href='@{/boards/main}'|">
    </span>

    <span style="height: 100px; width: 700px; margin-left: 439px; display: inline-block; position: relative; top:-33px;">
        <form action="" th:action="|/boards/picture/search/0|" method="get" style="width: 450px; margin: auto">
            <input type="text" id="search" name="search" class="form-control " placeholder="사진 제목 검색">
        </form>
    </span>

    <span style="height: 45px; width: 100px; display: inline-block; margin-left: 185px; position: relative; top:-45px;">
        <button class="btn btn-primary" type="button" style="margin-top: 17px"
                th:onclick="|location.href='@{/picture/add}'|">사진 올리기
        </button>
    </span>

    <span style="height: 100px; width: 55px; display: inline-block; position: relative; top: -16px; margin-left: 45px">
        <div class="profile-user-img">
            <img th:src ="|/profileFile/${loginMember.profilePicture.storeFileName}|" alt="profile-user-img" class="profile-user-img-img">
        </div>
    </span>

    <span style="height: 100px; width: 100px; display: inline-block; position: relative; top: -42px; margin-left: 10px">
        <button th:text="${loginMember.nickName}" style="margin-top: 12px" class="btn btn-secondary dropdown-toggle"
                type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                히포
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <p style="margin-bottom: 2px; font-size: 17px; padding-left: 13px; font-weight: bold"
                   th:text="${loginMember.nickName}"><b>히포</b></p>
                <p style="margin-bottom: 10px; font-size: 13px; padding-left: 13px; color: gray"
                   th:text="*{loginMember.loginId}">테스터</p>
                <div class="row" style="font-size: 13px; padding-left: 13px; margin-bottom: 1.5px">
                    <p class="col" style="margin-bottom: 1px; font-weight: bold"
                       th:text="${loginMember.following}"><b>40명</b></p>
                    <p class="col" style="margin-bottom: 1px; font-weight: bold"
                       th:text="${loginMember.follower}"><b>2명</b></p>
                </div>
                <div class="row" style="font-size: 11px; padding-left: 13px;">
                    <p class="col">팔로우 중</p>
                    <p class="col">팔로워 수</p>
                </div>
                <li><a class="dropdown-item" href="/member/room">마이 룸</a></li>
                <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
            </ul>
    </span>
</div>

<div th:if="${!(pictures.isEmpty())}" class="swiper-container" style="position: relative; top: 100px">
    <div class="row">
        <p class="col" style="font-size: 20px"><b>새로운 사진들</b></p>
        <p class="col" th:onclick="|location.href='@{/boards/picture/0}'|"
           style="text-align: right;cursor: pointer; font-size: 15px; color: gray">모두보기</p>
    </div>
    <div class="swiper-wrapper">
        <div class="swiper-slide" th:each=" picture : ${pictures}">
            <div class="card" style="border:0;">
                <img th:src="|/pictureFile/${picture.picture.storeFileName}|"
                     th:onclick="|location.href='@{/picture/{a}(a=${picture.getId()})}'|"
                     style="cursor: pointer" class="card-img-top">
                <div class="card-body" style="max-height: 14px; padding: 0.75em">
                    <h6 class="card-title" style="margin-bottom: 4px; font-weight: bold"
                        th:text="${picture.title}">새로운 사진들</h6>
                    <p class="card-text" th:text="${picture.member.nickName}" style="color: gray">테스터</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 네비게이션 -->
    <div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
    <div class="swiper-button-prev"></div><!-- 이전 버튼 -->
</div>

<div style="height: 150px"></div>

<div th:if="${!(rankedPictures.isEmpty())}" class="swiper-container" style="position: relative; top: 100px">
    <div class="row">
        <p class="col" style="font-size: 20px"><b>인기 순위 사진들</b></p>
    </div>
    <div class="swiper-wrapper">
        <div class="swiper-slide" th:each=" picture : ${rankedPictures}">
            <div class="card" style="border:0;">
                <img th:src="|/pictureFile/${picture.picture.storeFileName}|"
                     th:onclick="|location.href='@{/picture/{a}(a=${picture.getId()})}'|"
                     style="cursor: pointer" class="card-img-top">
                <div class="card-body" style="max-height: 14px; padding: 0.75em">
                    <h6 class="card-title" style="margin-bottom: 4px; font-weight: bold"
                        th:text="${picture.title}">새로운 사진들</h6>
                    <p class="card-text" th:text="${picture.member.nickName}" style="color: gray">테스터</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 네비게이션 -->
    <div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
    <div class="swiper-button-prev"></div><!-- 이전 버튼 -->
</div>

<div style="height: 150px"></div>

<div th:if="${!(followPictures.isEmpty())}" class="swiper-container" style="position: relative; top: 100px">
    <div class="row">
        <p class="col" style="font-size: 20px"><b>추천 사진들</b></p>
    </div>
    <div class="swiper-wrapper">
        <div class="swiper-slide" th:each=" picture : ${followPictures}">
            <div class="card" style="border:0;">
                <img th:src="|/pictureFile/${picture.picture.storeFileName}|"
                     th:onclick="|location.href='@{/picture/{a}(a=${picture.getId()})}'|"
                     style="cursor: pointer" class="card-img-top">
                <div class="card-body" style="max-height: 14px; padding: 0.75em">
                    <h6 class="card-title" style="margin-bottom: 4px; font-weight: bold"
                        th:text="${picture.title}">새로운 사진들</h6>
                    <p class="card-text" th:text="${picture.member.nickName}" style="color: gray">테스터</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 네비게이션 -->
    <div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
    <div class="swiper-button-prev"></div><!-- 이전 버튼 -->
</div>

<div style="height: 200px"></div>

<script>

    document.addEventListener("DOMContentLoaded", function() {

        var mySwiper = new Swiper('.swiper-container', {
            slidesPerView: 5,
            slidesPerGroup: 5,
            observer: true,
            observeParents: true,
            spaceBetween: 24,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                1280: {
                    slidesPerView: 3,
                    slidesPerGroup: 3,
                },
                720: {
                    slidesPerView: 1,
                    slidesPerGroup: 1,
                }
            }
        });

    });
</script>
</style>
</body>
</html>